body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.navbar {
	padding-bottom: 100px;
}*/
img {
	border-radius:50%; height:100px; display:inline; margin-left: 50px
}